section.content {
    background: #011627;
}

.navbar-expand-lg {
    background: #011627;
}

article.descrip {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #011627;
    font-size: 1.5em;
    padding: 5vh 2vw;
    color: #fff;
}

div.first {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-basis: 40%;
}

div.secound {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-basis: 60%;
    line-height: 2em;
    text-align: justify;
    direction: rtl;
    font-family: Vazir;
}

.jumbotron {
    font-family: Vazir;
}

.carousel-inner {
    font-family: IRANSansWeb;
}

footer {
    background: #011627;
    font-family: IRANSansWeb;
}



@font-face {
    font-family: Vazir;
    src: url(/fonts/Vazir.eot) format('eot'), url(/fonts/Vazir.woff) format('woff'), url(/fonts/Vazir.woff2) format('woff2');
}

@font-face {
    font-family: IRANSansWeb;
    src: url(/fonts/IRANSansWeb.ttf);
}

@font-face {
    font-family: Tanha;
    src: url(/fonts/Tanha.eot) format('eot'), url(/fonts/Tanha.woff) format('woff'), url(/fonts/Tanha.woff2) format('woff2');
}
