section.content {
    background: #011627;
}

.navbar-expand-lg {
    background: #011627;
}

article.descrip {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background: #011627;
    font-size: 1.5em;
    padding: 5vh 2vw;
    /*color: #fff;*/
}

.game-col {
    background: rgb(204,203,222);
    background: linear-gradient(45deg, rgba(204,203,222,0.6012605725884104) 0%,
    rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(204,203,222,0.6012605725884104) 100%);
    border-bottom: 1px dotted #011627;
    height: 4rem;
}

.game-col col-6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.game-col span {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

i {
    font-size: .8rem !important;
}

div.home-descrip {
    line-height: 2em;
    text-align: justify;
    direction: rtl;
    font-family: Vazir;
}

.jumbotron {
    font-family: Vazir;
}

.carousel-inner {
    font-family: IRANSansWeb;
}

footer {
    background: #011627;
    font-family: IRANSansWeb;
}

.gamesCol {
    font-family: IRANSansWeb;
    padding: 2rem;
}


@font-face {
    font-family: Vazir;
    src: url(/fonts/Vazir.eot) format('eot'), url(/fonts/Vazir.woff) format('woff'), url(/fonts/Vazir.woff2) format('woff2');
}

@font-face {
    font-family: IRANSansWeb;
    src: url(/fonts/IRANSansWeb.ttf);
}

@font-face {
    font-family: Tanha;
    src: url(/fonts/Tanha.eot) format('eot'), url(/fonts/Tanha.woff) format('woff'), url(/fonts/Tanha.woff2) format('woff2');
}
